<%= render partial: "shared/header" %>

<h2>Change aircraft configuration</h2>
<h3><%= "#{@airplane.aircraft_model.family.manufacturer} #{@airplane.aircraft_model.name}" %></h3>

<p>
  <%= "Maximum seats in all economy configuration: #{@airplane.model.max_economy_seats}" %><br/>
  <%= "Cost per economy seat: $#{number_with_precision(Airplane::RECONFIGURATION_COST_PER_SEAT_ECONOMY, :delimiter => ",", :precision => 0)}" %><br/>
  <%= "Cost per premium economy seat: $#{number_with_precision(Airplane::RECONFIGURATION_COST_PER_SEAT_PREMIUM_ECONOMY, :delimiter => ",", :precision => 0)}" %><br/>
  <%= "Cost per business seat: $#{number_with_precision(Airplane::RECONFIGURATION_COST_PER_SEAT_BUSINESS, :delimiter => ",", :precision => 0)}" %><br/>
  <%= "This airplane will not earn any operating profits on the days it is being reconfigured.  It will be out of service for one day for every #{(1 / Airplane::RECONFIGURATION_DAYS_PER_SEAT).ceil()} new seats installed." %>
</p>
<p>
  <%= "#{@airline.name} has $#{number_with_precision(@airline.cash_on_hand, :precision => 0, :delimiter => ",")} on hand" %>
</p>

<%= form_with model: @airplane, url: game_airline_airplane_change_configuration_path(@game, @airline, @airplane), method: "patch" do |form| %>
  <div>
    <%= form.label :business_seats, "Business seats:" %>
    <%= form.number_field :business_seats, in: 0..(@airplane.aircraft_model.max_business_seats) %>
  </div>
  <div>
    <%= form.label :premium_economy_seats, "Premium economy seats:" %>
    <%= form.number_field :premium_economy_seats, in: 0..(@airplane.aircraft_model.max_premium_economy_seats) %>
  </div>
  <div>
    <%= form.label :economy_seats, "Economy seats:" %>
    <%= form.number_field :economy_seats, in: 0..(@airplane.aircraft_model.max_economy_seats) %>
  </div>

  <% if @airplane.errors.any? %>
    <p>
      <% @airplane.errors.full_messages.each do |message| %>
        <div class="error"><%= message %></div>
      <% end %>
    </p>
  <% end %>

  <h3>
    <%= form.submit "Change" %>
  </h3>
<% end %>

<%= button_to "Cancel", game_airline_airplane_path(@game, @airline, @airplane), method: :get %>
