<h1>Airline Game</h1>

<p><a href=<%=game_path(@game)%> >Return to game overview</a><br/>
<a href=<%=game_airline_path(@game, @airline)%>>Return to airline page</a></p>

<h2><%="#{@airline.name} fleet"%></h2>
<h3><%="#{@airline.name} operates #{@airplanes.count} airplane".pluralize(@airplanes.count)%></h3>

<ul>
  <% @airplanes.each do |airplane| %>
    <li>
      <%= "#{airplane.aircraft_model.family.manufacturer} #{airplane.aircraft_model.name} constructed #{airplane.construction_date}.
           #{airplane.economy_seats} economy, #{airplane.premium_economy_seats} premium economy, #{airplane.business_seats} business." %>
    </li>
  <% end %>
</ul>
