<h1>Airline Game</h1>

<p><a href=<%=game_path(@game)%> >Return to game overview</a><br/>
<a href=<%=game_airline_path(@game, @airline)%>>Return to airline page</a></p>

<h2><%="#{@airline.name} fleet"%></h2>
<h3><%="#{@airline.name} operates #{@built_airplanes.count} airplane".pluralize(@built_airplanes.count)%></h3>

<ul>
  <% @built_airplanes.each do |airplane| %>
    <li>
      <%= render partial: "airplane_name", locals: { airplane: airplane, airline: @airline } %><%= render partial: "airplane_info", locals: { airplane: airplane } %>
    </li>
  <% end %>
</ul>

<% if @airline.is_user_airline %>
  <h3>Upcoming deliveries</h3>
  <ul>
    <% @unbuilt_airplanes.each do |airplane| %>
      <li>
        <%= render partial: "airplane_name", locals: { airplane: airplane, airline: @airline } %><%= render partial: "airplane_info", locals: { airplane: airplane } %>
      </li>
    <% end %>
  </ul>
<% end %>
