<h1>Airline Game</h1>

<p><a href=<%=game_path(@game)%> >Return to game overview</a><br/>
<a href=<%=game_airline_path(@game, @airline)%>>Return to <%= @game.user_airline.name %> overview</a><br/>
<a href=<%=game_airline_airplanes_path(@game, @airline)%>>Return to <%=@game.user_airline.name%> fleet page</a></p>

<h2><%= "#{@airplane.aircraft_model.family.manufacturer} #{@airplane.aircraft_model.name}" %></h2>
<% if @airplane.lease_expiry.present? %>
  <p><%= "#{@airline.name} has leased this airplane through #{@airplane.lease_expiry}" %> </p>
<% else %>
  <p><%= "#{@airline.name} owns this airplane" %> </p>
<% end %>


<h3>Configuration</h3>
<ul>
  <li><%= @airplane.economy_seats %> economy <%= "seat".pluralize(@airplane.economy_seats) %></li>
  <li><%= @airplane.premium_economy_seats %> premium economy <%= "seat".pluralize(@airplane.premium_economy_seats) %></li>
  <li><%= @airplane.business_seats %> business <%= "seat".pluralize(@airplane.business_seats) %></li>
</ul>

<p>Airplane <%= @airplane.id %> </p>
