<h1>Airline Game</h1>

<p><a href=<%=game_path(@game)%> >Return to game overview</a><br/>
<a href=<%=game_airline_path(@game, @airline)%>>Return to <%= @game.user_airline.name %> overview</a><br/>
<a href=<%=game_airline_airplanes_path(@game, @airline)%>>Return to <%=@game.user_airline.name%> fleet page</a></p>
