<h1>Airline Game</h1>
<p> <a href=<%=game_path(@game)%> >Return to game overview</a> <br/>
<a href=<%= game_used_airplanes_airplanes_path(@game) %>> View used airplanes for purchase or lease </a> </p>
<h2>Order new aircraft</h2>
<h3>There <%="is".pluralize(@new_airplanes.count)%> <%=@new_airplanes.count%> new <%="airplane".pluralize(@new_airplanes.count)%> available to buy or lease</h3>
