<h1>Airline Game</h1>
<p> <a href=<%=game_path(@game)%> >Return to game overview</a> <br/>
<a href=<%= game_used_airplanes_airplanes_path(@game) %>> View used airplanes for purchase or lease </a> </p>
<h2>Order new aircraft</h2>
<h3>There <%="is".pluralize(@new_airplanes.count)%> <%=@new_airplanes.count%> new <%="airplane".pluralize(@new_airplanes.count)%> available to buy or lease</h3>

<ul>
  <% @new_airplanes.each do |airplane| %>
    <li>
      <%= "#{airplane.aircraft_model.family.manufacturer} #{airplane.aircraft_model.name} to be delivered #{airplane.construction_date}.
           #{airplane.economy_seats} economy, #{airplane.premium_economy_seats} premium economy, #{airplane.business_seats} business.
           $#{number_with_precision(airplane.purchase_price, :precision => 0, :delimiter => ",")} value." %>
      <%= button_to "View purchase details", game_airplane_purchase_path(@game.id, airplane.id), method: :get %>
      <%= button_to "View lease details", game_airplane_lease_path(@game.id, airplane.id), method: :get %>
    </li>
  <% end %>
</ul>
