<h1>Airline Game Home</h1>
<h2> <%= @game.user_airline.name %> </h2>
<h3> Cash on hand: $<%= @game.user_airline.cash_on_hand %> </h3>

<p> <a href=<%= game_airlines_path(@game.id) %>> View airlines in game </a> <br/>
<a href=<%= game_airline_path(@game.id, @game.user_airline.id) %>> View <%= @game.user_airline.name %> </a> </p>

<p> <a href=<%= game_new_airplanes_airplanes_path(@game) %>> View new airplanes for purchase or lease </a> <br/>
<a href=<%= game_used_airplanes_airplanes_path(@game) %>> View used airplanes for purchase or lease </a> <br/>
<a href=<%= game_airline_airplanes_path(@game, @game.user_airline) %>> View <%= @game.user_airline.name %> fleet </a></p>

<p> Open a new route <br/>
View <%= @game.user_airline.name %> routes </p>

<p> View an airport </p>
