<h1>Airline Game Home</h1>
<h2> <%= @game.user_airline.name %> </h2>
<% if @game.user_airline.cash_on_hand < 0 %>
  <h3> Cash on hand: $<div class="inline red"><%= number_with_precision(@game.user_airline.cash_on_hand, :precision => 0) %> </div> </h3>
<% else %>
  <h3> Cash on hand: $<div class="inline"><%= number_with_precision(@game.user_airline.cash_on_hand, :precision => 0) %> </div> </h3>
<% end %>

<p> <a href=<%= game_airlines_path(@game.id) %>> View airlines in game </a> <br/>
<a href=<%= game_airline_path(@game.id, @game.user_airline.id) %>> View <%= @game.user_airline.name %> </a> </p>

<p> <a href=<%= game_new_airplanes_airplanes_path(@game) %>> View new airplanes for purchase or lease </a> <br/>
<a href=<%= game_used_airplanes_airplanes_path(@game) %>> View used airplanes for purchase or lease </a> <br/>
<a href=<%= game_airline_airplanes_path(@game, @game.user_airline) %>> View <%= @game.user_airline.name %> fleet </a></p>

<p> <a href=<%= game_select_route_path(@game) %>> Open a new route </a> <br/>
<a href=<%= game_airline_routes_path(@game, @game.user_airline) %>>View <%= @game.user_airline.name %> routes </a></p>

<p> <a href=<%= game_airports_path(@game) %>> View an airport </a></p>
