<h1>Airline Game</h1>
<p><a href=<%=game_path(@game)%>>Return to game overview</a></p>
<h2>There <%="is".pluralize(@airlines.count)%> <%= @airlines.count %> <%="airline".pluralize(@airlines.count)%> in the game.</h2>

<ul>
  <% @airlines.each do |airline| %>
    <li>
      <%= airline.name %>
    </li>
  <% end %>
</ul>
