<h1>Airline Game</h1>
<p><a href=<%= game_view_route_path(@game, origin_id: @route.origin_airport.id, destination_id: @route.destination_airport.id) %>> Return to route overview </a></p>
<h2>Adjust service on <%= @route.origin_airport_iata %> - <%= @route.destination_airport_iata %></h2>
<p><%= @game.user_airline.name %> has <%= @airplanes.count %> <%= "airplane".pluralize(@airplanes.count) %> able to serve <%= @route.origin_airport_iata %> - <%= @route.destination_airport_iata %> </p>

<% if @airplane_route&.errors&.any? %>
  <p>
    <% @airplane_route.errors.full_messages.each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
  </p>
<% end %>

<% @airplanes.each do |airplane| %>
  <%= form_with url: game_add_flights_path, method: :patch do |form| %>
    <%= form.hidden_field :route_id, value: @route.id %>
    <%= form.hidden_field :airplane_id, value: airplane.id %>
    <%= form.label :frequencies, "#{airplane.family.manufacturer} #{airplane.model.name} currently utilized #{number_with_precision(airplane.utilization, :precision => 1)} hours per day.
                                  Seating #{airplane.economy_seats} economy, #{airplane.premium_economy_seats} premium economy, #{airplane.business_seats} business.
                                  Currently flies #{@route.frequencies_on_airplane(airplane)} weekly #{"flight".pluralize(@route.frequencies_on_airplane(airplane))}" %>
    <%= form.number_field :frequencies, in: 0..100, value: @route.frequencies_on_airplane(airplane) %>
    <%= form.submit "Set frequencies" %>
  <% end %>
<% end %>
