<%= render partial: "shared/header" %>
<p>
  <a href=<%=game_path(@game)%>>Return to game overview</a><br/>
  <a href=<%= game_airline_routes_path(@game, @game.user_airline) %>>View <%= @game.user_airline.name %> routes </a>
</p>
<h2>Select a route to view</h2>

<p> Select an origin and destination </p>
<%= form_with url: game_airline_route_add_flights_path(game_id: @game.id, airline_route_id: -1), method: :get do |form| %>
  <%= form.hidden_field :game_id, value: @game.id %>
  <%= form.hidden_field :airline_route_id, value: nil %>
  <%= form.select :origin_id, @airports, selected: @origin %>
  <%= form.select :destination_id, @airports, selected: @destination %>
  <%= form.submit "Go" %>
<% end %>
