<h1>Airline Game</h1>
<p><a href=<%=game_path(@game)%>>Return to game overview</a> <br/>
<a href=<%= game_select_route_path(@game, params: { origin: @route.origin_airport.id, destination: @route.destination_airport.id }) %>> View a different route </a><br/>
<a href=<%= game_airport_path(@game, @route.origin_airport) %>> View <%= @route.origin_airport.iata %> </a><br/>
<a href=<%= game_airport_path(@game, @route.destination_airport) %>> View <%= @route.destination_airport.iata %> </a></p>
<h2><%= @route.name %></h2>
<p><%= "#{Calculation::Distance.between_airports(@route.origin_airport, @route.destination_airport).round} miles" %></p>
<p><%= "#{@game.user_airline.name} has #{@route.origin_airport.leased_unused_slots(@game.user_airline)} available #{"slot".pluralize(@route.origin_airport.leased_unused_slots(@game.user_airline))} at #{@route.origin_airport.iata}" %> <br/>
<%= "#{@game.user_airline.name} has #{@route.destination_airport.leased_unused_slots(@game.user_airline)} available #{"slot".pluralize(@route.destination_airport.leased_unused_slots(@game.user_airline))} at #{@route.destination_airport.iata}" %></p>
<p>At current demand levels, this route can support up to:
  <ul>
    <li>$<%= number_with_precision(@revenue.max_economy_class_revenue_per_week, :precision => 2, :delimiter => ",") %> per week in economy class revenue</li>
    <li>$<%= number_with_precision(@revenue.max_premium_economy_class_revenue_per_week, :precision => 2, :delimiter => ",") %> per week in premium economy class revenue</li>
    <li>$<%= number_with_precision(@revenue.max_business_class_revenue_per_week, :precision => 2, :delimiter => ",") %> per week in business class revenue</li>
  </ul>
</p>
<% if @game.user_airline.can_fly_between?(@route.origin_airport.market, @route.destination_airport.market) %>
  <h3><%= @game.user_airline.name %> pricing on <%= @route.name %> </h3>
  <% if @route.errors.any? %>
    <p>
      <% @route.errors.full_messages.each do |message| %>
        <div class="error"><%= message %></div>
      <% end %>
    </p>
  <% end %>
  <p>
    <%= form_with url: game_airline_route_add_flights_path(@game, @route), method: :patch do |form| %>
      <%= form.label "Economy: $" %>
      <%= form.number_field :economy_price, step: 0.01, min: 0.01, value: @route.economy_price %> <br/>
      <%= form.label "Premium economy: $" %>
      <%= form.number_field :premium_economy_price, step: 0.01, min: 0.01, value: @route.premium_economy_price %> <br/>
      <%= form.label "Business: $" %>
      <%= form.number_field :business_price, step: 0.01, min: 0.01, value: @route.business_price %> <br/>
      <%= form.submit "Set pricing" %>
    <% end %>
  </p>

  <h3><%= "#{@game.user_airline.name} flights on #{@route.name}" %></h3>
  <% if @route.airplanes.count > 0 %>
    <p>
      <div class="inline">
        <%= @game.user_airline.name %> operates <%= @route.total_frequencies %> weekly <%= "flight".pluralize(@route.total_frequencies) %> on <%= @route.name %>.  Profit: $
        <% if @route.flight_profit >= 0 %>
          <div class="inline profitable"> <%= number_with_precision(@route.flight_profit, :precision => 2) %> </div>
        <% else %>
          <div class="inline unprofitable"> <%= number_with_precision(@route.flight_profit, :precision => 2) %> </div>
        <% end %>
        daily.  Load factor: <%= number_with_precision(@route.load_factor, :precision => 1) %>%.
      </div>
    </p>
  <% else %>
    <p><%= @game.user_airline.name %> is not currently operating flights on <%= @route.name %>
  <% end %>
  <% if @airplane_route&.errors&.any? %>
    <p>
      <% @airplane_route.errors.full_messages.each do |message| %>
        <div class="error"><%= message %></div>
      <% end %>
    </p>
  <% end %>

  <ul>
    <% @route.airplanes.each do |airplane| %>
      <li>
        <%= render partial: "user_airline_frequencies", locals: { airplane: airplane } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h4><%= @game.user_airline.name %> cannot fly this route due to political restrictions </h4>
<% end %>

<h3> Service on <%= @route.name %> </h3>
<% if @all_service.any? %>
  <% @all_service.each do |airline_route| %>
    <%= render partial: "generic_airline_frequencies", locals: { airline_route: airline_route, include_name: false } %>
  <% end %>
<% else %>
  <p> No airline serves <%= @route.name %> </p>
<% end %>

<% if @other_market_service.any? %>
  <h4> Other service between <%= @route.origin_airport.market.name %> and <%= @route.destination_airport.market.name %> areas </h4>
  <% @other_market_service.each do |airline_route| %>
    <%= render partial: "generic_airline_frequencies", locals: { airline_route: airline_route, include_name: true } %>
  <% end %>
<% end %>

<% if @game.user_airline.can_fly_between?(@route.origin_airport.market, @route.destination_airport.market) %>
  <h3><%= "Add service on #{@route.name}" %></h3>
  <p><%= @game.user_airline.name %> has <%= @route.airplanes_available_to_add_service(@game).count %> <%= "airplane".pluralize(@route.airplanes_available_to_add_service(@game).count) %> able to add flights on <%= @route.name %> </p>
  <ul>
    <% @route.airplanes_available_to_add_service(@game).each do |airplane| %>
      <li>
        <%= render partial: "user_airline_frequencies", locals: { airplane: airplane } %>
      </li>
    <% end %>
  <ul>
<% end %>
