<h1>Airline Game</h1>
<p><a href=<%=game_path(@game)%>>Return to game overview</a> <br/>
<a href=<%= game_select_route_path(@game) %>> View a different route </a><br/>
<a href=<%= game_airport_path(@game, @origin) %>> View <%= @origin.iata %> </a><br/>
<a href=<%= game_airport_path(@game, @destination) %>> View <%= @destination.iata %> </a></p>
<h2><%= "#{@origin.iata} - #{@destination.iata}" %></h2>
<p><%= "#{Calculation::Distance.between_airports(@origin, @destination).round} miles" %></p>
<p><%= "#{@game.user_airline.name} has #{@origin.leased_unused_slots(@game.user_airline)} available #{"slot".pluralize(@origin.leased_unused_slots(@game.user_airline))} at #{@origin.iata}" %> <br/>
<%= "#{@game.user_airline.name} has #{@destination.leased_unused_slots(@game.user_airline)} available #{"slot".pluralize(@destination.leased_unused_slots(@game.user_airline))} at #{@destination.iata}" %></p>
<p>At current demand levels, this route can support up to:
  <ul>
    <li>$<%= number_with_precision(@revenue.max_economy_class_revenue_per_week, :precision => 2) %> per week in economy class revenue</li>
    <li>$<%= number_with_precision(@revenue.max_premium_economy_class_revenue_per_week, :precision => 2) %> per week in premium economy class revenue</li>
    <li>$<%= number_with_precision(@revenue.max_business_class_revenue_per_week, :precision => 2) %> per week in business class revenue</li>
  </ul>
</p>
<% if @game.user_airline.can_fly_between?(@origin.market, @destination.market) %>
  <%= button_to "Add or reduce flights on route", game_add_flights_path(@game), method: :get, params: { origin_id: @origin.id, destination_id: @destination.id } %>
<% else %>
  <p><%= @game.user_airline.name %> cannot fly this route due to political restrictions </p>
<% end %>
