<h1>Airline Game</h1>
<p><a href=<%=game_path(@game)%>>Return to game overview</a> <br/>
<a href=<%= game_select_route_path(@game) %>> View a different route </a><br/>
<a href=<%= game_airport_path(@game, @route.origin_airport) %>> View <%= @route.origin_airport.iata %> </a><br/>
<a href=<%= game_airport_path(@game, @route.destination_airport) %>> View <%= @route.destination_airport.iata %> </a></p>
<h2><%= @route.name %></h2>
<p><%= "#{Calculation::Distance.between_airports(@route.origin_airport, @route.destination_airport).round} miles" %></p>
<p><%= "#{@game.user_airline.name} has #{@route.origin_airport.leased_unused_slots(@game.user_airline)} available #{"slot".pluralize(@route.origin_airport.leased_unused_slots(@game.user_airline))} at #{@route.origin_airport.iata}" %> <br/>
<%= "#{@game.user_airline.name} has #{@route.destination_airport.leased_unused_slots(@game.user_airline)} available #{"slot".pluralize(@route.destination_airport.leased_unused_slots(@game.user_airline))} at #{@route.destination_airport.iata}" %></p>
<p>At current demand levels, this route can support up to:
  <ul>
    <li>$<%= number_with_precision(@revenue.max_economy_class_revenue_per_week, :precision => 2) %> per week in economy class revenue</li>
    <li>$<%= number_with_precision(@revenue.max_premium_economy_class_revenue_per_week, :precision => 2) %> per week in premium economy class revenue</li>
    <li>$<%= number_with_precision(@revenue.max_business_class_revenue_per_week, :precision => 2) %> per week in business class revenue</li>
  </ul>
</p>
<% if @game.user_airline.can_fly_between?(@route.origin_airport.market, @route.destination_airport.market) %>
  <h3><%= "#{@game.user_airline.name} flights on #{@route.name}" %></h3>

  <p><%= @game.user_airline.name %> has <%= @route.airplanes.count %> <%= "airplane".pluralize(@route.airplanes.count) %> currently operating flights on <%= @route.origin_airport_iata %> - <%= @route.destination_airport_iata %> </p>
  <% if @airplane_route&.errors&.any? %>
    <p>
      <% @airplane_route.errors.full_messages.each do |message| %>
        <div class="error"><%= message %></div>
      <% end %>
    </p>
  <% end %>

  <% @route.airplanes.each do |airplane| %>
    <%= form_with url: game_add_flights_path, method: :patch do |form| %>
      <%= form.hidden_field :route_id, value: @route.id %>
      <%= form.hidden_field :airplane_id, value: airplane.id %>
      <%= form.label :frequencies, "#{airplane.family.manufacturer} #{airplane.model.name} currently utilized #{number_with_precision(airplane.utilization, :precision => 1)} hours per day.
                                    Seating #{airplane.economy_seats} economy, #{airplane.premium_economy_seats} premium economy, #{airplane.business_seats} business.
                                    Currently flies #{@route.frequencies_on_airplane(airplane)} weekly #{"flight".pluralize(@route.frequencies_on_airplane(airplane))}" %>
      <%= form.number_field :frequencies, in: 0..100, value: @route.frequencies_on_airplane(airplane) %>
      <%= form.submit "Set frequencies" %>
    <% end %>
  <% end %>
<% else %>
  <p><%= @game.user_airline.name %> cannot fly this route due to political restrictions </p>
<% end %>

<% if @game.user_airline.can_fly_between?(@route.origin_airport.market, @route.destination_airport.market) %>
  <h3><%= "Add service on #{@route.name}" %></h3>
  <p><%= @game.user_airline.name %> has <%= @route.airplanes_available_to_add_service.count %> <%= "airplane".pluralize(@route.airplanes_available_to_add_service.count) %> able to add flights on <%= @route.name %> </p>
  <% @route.airplanes_available_to_add_service.each do |airplane| %>
    <%= form_with url: game_add_flights_path, method: :patch do |form| %>
      <%= form.hidden_field :route_id, value: @route.id %>
      <%= form.hidden_field :airplane_id, value: airplane.id %>
      <%= form.label :frequencies, "#{airplane.family.manufacturer} #{airplane.model.name} currently utilized #{number_with_precision(airplane.utilization, :precision => 1)} hours per day.
                                    Seating #{airplane.economy_seats} economy, #{airplane.premium_economy_seats} premium economy, #{airplane.business_seats} business" %>
      <%= form.number_field :frequencies, in: 0..100, value: @route.frequencies_on_airplane(airplane) %>
      <%= form.submit "Set frequencies" %>
    <% end %>
  <% end %>
<% end %>
